@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,500;10..100,800&family=League+Gothic&family=League+Script&family=Mrs+Saint+Delafield&family=Satisfy&display=swap");

//fonts
.league_gothic {
  font-family: "League Gothic";
}

.satisfy {
  font-family: "Satisfy";
  font-weight: 400;
}
